{% extends "base.html" %}
{% load static %}

<!-- /Header -->
{% block main %}


<section class="inner-page" id="contact-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>عضویت در سایت</h1>
                            <p>با عضویت در سایت از همه امکانات  تکنولند بهره مند شوید.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "product:main" %}">صفحه نخست</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">عضویت</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-2 py-md-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <div class="content">
                    <form method="post">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-lg-5 text-center">
                            <img src="{% static "images/login.png" %}" alt="">
                        </div>
                        <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                            <div class="title">عضویت در تکنولند</div>
                            <p>با ورود به ناحیه کاربری خود از همه امکانات سایت بهره مند شوید.</p>
                            
                            {% if form.errors %}
                            
                            <p> {{form.non_field_errors}} </p>
                            
                            <p> {{form.errors}} </p>
                            {% endif %}
                            
                            

                            <div class="form-group">
                                <label for="email">ایمیل:</label>
                                {{form.email}}
                            </div>

                            <div class="form-group">
                                <label for="password">رمز عبور :</label>
                                {{form.password}}
                            </div>

                            <div class="form-group">
                                <label for="password"> تکرار رمز عبور :</label>
                                {{form.password2}}
                            </div>

                            <div class="form-group">
                                <a href="profile/personal-info.html"><input type="submit" value="تکمیل عضویت" class="btn btn-success"></a>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}

