{% load static %}
<!-- Scripts -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "plugins/fontawesome/js/all.min.js" %}"></script>
<script src="{% static "plugins/aos-master/dist/aos.js" %}"></script>
<script src="{% static "js/droopmenu.js" %}"></script>
<script src="{% static "js/nouislider.min.js" %}"></script>
<script src="{% static "js/pagination.js" %}"></script>

<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/nav-tabs.js" %}"></script>
<script src="{% static "js/swiper-bundle.min.js" %}"></script>

<script src="{% static "js/product-gallery.js" %}"></script>

<script src="{% static "js/scripts.js" %}"></script>
<!-- /Scripts -->