{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- CSS Styles -->
    <link rel="stylesheet" href="{% static "css/bootstrap.rtl.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/fontawesome/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/aos-master/dist/aos.css" %}">
    <link rel="stylesheet" href="{% static "plugins/hover-master/css/hover-min.css" %}">
    <link rel="stylesheet" href="{% static "css/ionicons.css" %}">
    <link rel="stylesheet" href="{% static "css/droopmenu.css" %}">
    <link rel="stylesheet" href="{% static "css/highlight.css" %}">
    <link rel="stylesheet" href="{% static "css/nouislider.min.css" %}">

    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/swiper-bundle.min.css" %}">
    <link rel="stylesheet" href="{% static "css/product-gallery.css" %}">
    
    


    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- /CSS Styles -->
</head>
