{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!-- /Header -->

{% block main %}

<section class="inner-page" id="contact-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>بازیابی پسورد </h1>
                            
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active"><a href="{% url "product:main" %}">صفحه نخست</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-2 py-md-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <div class="content">
                    <form method="post">
                    {% csrf_token %}
                        
                    <div class="row">

                        {% if form.errors %}

                        {% for error in form.errors %}
                        <p> {{error}}</p>
                
                        {% endfor %}

                        {% endif %}

                        <div class="col-12 col-lg-5 text-center">
                            <img src="{% static "images/login.png" %}" alt="">
                        </div>
                        <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                            <div class="title my-2 ">فراموشی پسورد </div>
                            

                        {{form|crispy}}

                        <input class="btn btn-success" type="submit" value="بازیابی پسورد">


                            
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}

