{% extends "base.html" %}
{% load static %}

{% block main %}
<head>
    <title>بازیابی پسورد</title>
</head>
<div class="container mt-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 600px; border-radius: 15px;">
        <div class="card-body text-center">
            <h1 class="text-success mb-4">ایمیل بازیابی رمز عبور ارسال شد</h1>
            <p class="text-muted">لطفاً ایمیل خود را بررسی کنید و دستورالعمل‌های ارسال‌شده را دنبال کنید.</p>
        </div>
    </div>
</div>
{% endblock main %}