{% extends "base.html" %}
{% load static %}

{% block main %}

<div class="container mt-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 600px; border-radius: 15px;">
        <div class="card-body text-center">
            <h1 class="text-success mb-4">بازیابی پسورد با موفقیت انجام شد</h1>
            <p class="text-muted mb-4">رمز عبور شما با موفقیت تغییر یافت. می‌توانید به صفحه اصلی بازگردید و از خدمات ما استفاده کنید.</p>
            <a class="btn btn-primary btn-lg w-100" href="{% url 'product:main' %}">بازگشت به صفحه اصلی</a>
        </div>
    </div>
</div>
{% endblock main %}
