{% load static %}
{% load product_tags %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <title>تکنو لند</title>

{% include "includes/head_links.html" %}

<body>

{% include "includes/header.html" %}


{% block main %}



{% endblock main %}


{% include "includes/footer.html" %}

<!-- Copyright -->
<section class="py-2" id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6" id="social-links">
                <span>ما را دنبال کنید</span>
                
            </div>
            <div class="col-12 col-sm-6 text-sm-end pt-2 pt-sm-0">
                <span>کلیه حقوق و مادی معنوی محفوط است.</span>
            </div>
        </div>
    </div>
</section>
<!-- Copyright -->

{% include "includes/footer_links.html" %}
</body>


</html>